.posters {
  margin: 20px;
  box-shadow: 5px 5px 5px white;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

input[type="radio"] {
  display: none;
}

img {
  height: 450px;
  width: 300px;
}
