
/*NOTE - makes sure each image (in this case the movie posters) is at a set width and height*/
img {
  width: 350px;
  height: 500px;
}

/*NOTE Makes the page a uniform background color. The content is evenly spaced and will remain evenly spaced, regardless of page size.
And all text is centered */
.movie-container {
  background-color: rgb(8, 8, 67);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

/*NOTE - gives padding and margins to the review list  */

.individual-movie-reviews {
  padding: 2rem;
  margin: 2rem;
}


/*NOTE - gives some space between each review */
.individual-review {
  margin-top: .5rem;
}
