img {
  width: 350px;
  height: 500px;
}

.movie-container {
  background-color: rgb(8, 8, 67);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.individual-movie-reviews {
  padding: 2rem;
  margin: 2rem;
}

Card {
  max-width: 500px;
}
